{% extends 'base.html.twig' %}

{% block title %}
Hello HomeController!
{% endblock %}



{% block body %}
<div class="row.mt-5 mb-3">
    <div class="col d-flex align-items-center">
        <h1> Mostrar Registros </h1>
        <a href="{{path('crud_add')}}" class="btn btn-primary ms-auto ">
        Agregar
        <i class="bi bi-plus-circle-fill" style="margin-left: 8px;"></i>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="tex-center">#</th>
                <th class="tex-center">Nombre</th>
                <th class="tex-center">Nivel</th>
                <th class="tex-center">Correo Electronico</th>
                <th class="tex-center">Telefono</th>
                <th class="tex-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% if (users|length) > 0 %}  
            {% for item in users %}
                <tr>
                    <td class="text-center">{{ item.id }}</td>
                    <td class="text-center">{{ item.name }}</td>
                    <td class="text-center">{{ item.lastname }}</td>
                    <td class="text-center">{{ item.email }}</td>
                    <td class="text-center">{{ item.phone }}</td>
                    <td class="text-center">
                        <a href="{{ path('crud_update', { id: item.id}) }}"class="btn"><i class="bi bi-pen-fill"></i></a>
                        <form id="delete-form-{{ item.id }}" method="post" action="{{ path('crud_delete', { id: item.id }) }}" style="display: none;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                        </form>

                        <a href="#" class="btn-delete" data-id="{{ item.id }}">
                         <i class="bi bi-trash"></i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Sin Registros</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}